.modal-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .isActiveModal1 {
    background-color: rgb(231, 36, 36);
    color: aliceblue;
    position: relative;
    border-radius: 5px;
    max-width: 400px;
  
  
  .modal-header {
    padding: 0px 15px;
    background-color: rgb(182, 12, 12);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-text {
    max-width: 100%;
    font-size: 12px;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
  }
  
  .modal-btn {
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .close-button {
    width: 22px;
  }
}

    .isActiveModal2 {
    background-color: rgb(244, 205, 64);
    color: aliceblue;
    position: relative;
    border-radius: 5px;
    max-width: 400px;
  
  
  .modal-header {
    padding: 0px 15px;
    background-color: rgb(218, 129, 14);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-text {
    max-width: 100%;
    font-size: 12px;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .modal-btn {
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .close-button {
    width: 22px;
  }
}

.fa-xmark {
  cursor: pointer;
}